@{
    ViewData["Title"] = "Editar contatos";
}
<div class="text-center">

    <h1 class="display-4">Editar contato</h1>

</div>
<form>

    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" placeholder="Digite o nome do contato">
    </div>

    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" class="form-control" placeholder="Digite o E-mail do contato">
    </div>

    <div class="form-group">
        <label for="celular">Celular</label>
        <input type="text" class="form-control" placeholder="Digite o Celular do contato">
    </div>
    <button type="submit" class="btn btn-primary w-100 mt-3">Alterar</button>
    <a class="btn btn-secondary w-100 mt-2" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
</form>
